html, body {
  margin: 0; padding: 0;
  overflow: hidden;
}

body.wait::before {
  content: "运算中...";
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: wait;
  font-size: 40px;
  color: #fff;
  letter-spacing: 5px;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex; 
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.layout > textarea,div {
  width: 50%;
  height: 100%;
  display: -webkit-flex; 
  display: flex;
  position: relative;
}

.layout-left {
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  border-right: 1px solid dimgray;
}
.layout-left textarea {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;

}

.layout-right {
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.layout-top, .layout-bottom {
  height: 50%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
}
.area-jobinfo {
  background-color: rgba(0, 0, 0, 0.83);
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.area-jobrel {
  background-color: rgba(0, 0, 0, 0.81);
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}


.nav {
  text-indent: 20px;
  position: relative;
  z-index: 99;
  top: 0;
  width: 100%;
  display: -webkit-flex; 
  display: flex;
  height: 30px;
  align-items: center;
  justify-content:space-between;
  color: #fff;
  background-color: seagreen;
  border-bottom: 1px solid gainsboro;
  padding: 5px;
}
.nav button {
  margin-right: 20px;;
}

textarea {
  font-size: 13px;
  color: #fff;
  padding: 5px 5px 5px 5px;
  border: none;
  outline: none;
}
